a{color: rgb(7, 136, 136);
    text-decoration: none;
}

body{ background-color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    color: darkslategrey ;}